<%= render 'hearder' %>
<div class="container">
  <%
=begin%>
 <!-- sidebar -->
  <!-- dien thoai noi bat -->
  <%= render 'featured_phones' %>
  <!-- MÁY TÍNH BẢNG -->
  <!-- ĐỒNG HỒ THÔNG MINH -->
  <!-- NHÀ THÔNG MINH -->
  <%= render 'smart_home' %>
  <!-- PHỤ KIỆN NỔI BẬT -->
   <%= render 'accessory' %>
</div>
<%
=end%>

<%= form_with url: upload_file_path, method: :post, local: true, multipart: true do |form| %>
  <div class="form-group">
    <%= form.label :file, "Choose file to upload:" %>
    <%= form.file_field :file, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit "Upload", class: "btn btn-primary" %>
  </div>
<% end %>

<%= render 'footer' %>
