<%= render 'hearder' %>
<div class="container">
  <!-- sidebar -->
  <!-- dien thoai noi bat -->
  <%= render 'featured_phones' %>
  <!-- MÁY TÍNH BẢNG -->
  <!-- ĐỒNG HỒ THÔNG MINH -->
  <!-- NHÀ THÔNG MINH -->
  <%= render 'smart_home' %>
  <!-- PHỤ KIỆN NỔI BẬT -->
   <%= render 'accessory' %>
</div>
<%= render 'footer' %>
